/*!
* HERO VIDEO
*
*/
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
  width: 100% !important;
  height: 100% !important;
}
.mejs-container {
  padding-top: 56.25%;
}
.wp-video, video.wp-video-shortcode {
  max-width: 100% !important;
}
video.wp-video-shortcode {
  position: relative;
}
.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mejs-container .mejs-controls {
  visibility:hidden !important;
}
.mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
.mejs-mediaelement::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(0,0,0,0.5);
}
