/*!
*
* BP MAIN
*
*/
$base-1: #333333 !default;
$base-2: #555555 !default;
$base-3: #777777 !default;
$base-4: #999999 !default;
$base-5: #ffffdd !default;
$base-5a: #ffcc00 !default;
$base-6: #ff5533 !default;
$base-7: #474c54 !default;

html, body {
  height:100%;
  background-color: $base-7;
}
body{
	font-family:Raleway, Tahoma, "Helvetica Neue";
}

/****** HEADER ******/
/****** HEADER ******/
/****** HEADER ******/
.site-branding-front-page{
	position:absolute;
  left:3%;
  z-index: 10;
}
.site-branding-general{
  padding: 2% 0 0 3%;
  z-index: 10;
}
.custom-logo-link {
	display: inline-block;
  vertical-align: sub;
	max-width:50px;
	max-height:50px;
}
.custom-logo-link img{
	height: auto;
	max-width: 100%;
}
.site-title-front-page,
.site-title-general{
  display:inline-block;
  vertical-align: sub;
  margin-left: 3px;
  margin-bottom: 0;
}
.site-title-front-page a,
.site-title-general a{
	color:#ffffff;
	font-size:24px;
  z-index: 5;
}
.site-title-front-page a:hover,
.site-title-general a:hover{
  color:#eeeeee;
  text-decoration: none;
}
.site-description{
	color: #ffffff;
  margin-left:50px;
}


/****** MENU/NAV ******/
/****** MENU/NAV ******/
/****** MENU/NAV ******/
.navigation{
  display:none; //hide automattic nav
}
nav{
	position:absolute;
	left:73%;
	top:2%;
  z-index: 5;
}
ul.menu{
	margin:0;
	padding-left:0;
	background-color:rgba(100,100,100,.5);
  border-radius:4px;
	list-style-type:none;
}
ul li.menu-item{
	padding: 0 10px
}
ul li.menu-item a{
	text-transform:uppercase;
	color:#ffffff;
	font-size:16px;
	font-weight:bold
}
ul li.menu-item a:hover{
  color: $base-5;
  text-decoration: none;
}

/****** BG IMAGE ******/
/****** BG IMAGE ******/
/****** BG IMAGE ******/
.header-container{
  display: flex;
  justify-content: center;
  width: inherit;
  overflow: hidden;
}
.header-img{
  min-height:600px !important; //maintains height if no img
  max-height: 600px !important; //contains bigger pics
}
.header-img img{
  height: 600px !important;
  background-position:center;
  background-size: cover;
}

/****** CALLOUT ******/
/****** CALLOUT ******/
/****** CALLOUT ******/
.m-lr--15 {
	margin-right: -15px;
	margin-left: -15px;
}
h1.hero-callout {
  position: absolute;
  top: 60%;
  left: 50%;
	padding: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  background-color: rgba(100, 100, 100, .3);
  font-size:34px;
  font-weight:700;;
  border-radius:4px;
  z-index:14;
	animation: hero-callout 1s forwards;
}
@keyframes hero-callout{
  0%{transform: translate(-50%, 0)};
	100%{transform: translate(-50%, -75%)}
}

/****** INTRODUCTION SECTION ******/
/****** INTRODUCTION SECTION ******/
/****** INTRODUCTION SECTION ******/
.intro{
  text-align:center;
  padding:75px;
  background: #333333;
}
.intro h1{
  color:#ffffff;
}
.intro h3{
  color:#555555;
}

/****** ABOUT SECTION ******/
/****** ABOUT SECTION ******/
/****** ABOUT SECTION ******/
.about{
  text-align:center;
  padding:75px 0;
  background:#555555;
}
.about-sub{
  display:inline-block;
  width:95%;
  margin: 3% 2.5%;
  padding-bottom:15px;
  border:1px solid #333333;
}
.about-sub h1{
  color: $base-5;
}
.about-sub h3{
  color: #222222;
}

/****** CONTACT SECTION ******/
/****** CONTACT SECTION ******/
/****** CONTACT SECTION ******/
.contact{
  padding:75px;
  text-align:center;
  background:#777777;
}
a.contact-sub{
  display:block;
  width:200px;
  margin: 10px auto;
  padding:20px 20px 20px 35px;
  text-align: left;
  background-color: #666666;
  text-decoration: none;
}
a.contact-sub:hover{
  background-color: #555555;
}
.fa-envelope,
.fa-phone,
.fa-map-marker-alt{
  display:inline;
  margin-right:10px;
  color: $base-5;
  font-size: 30px;
}
.fa-map-marker-alt{
  margin-right:15px;
}
.contact-sub h3{
  display:inline;
  margin:0;
  color: $base-5;
}
[data-aos="fadeinup"] {
  transform: translate3d(0,80px,0);
  opacity: 0;}
[data-aos="fadeinup"].aos-animate {
  transform: translate3d(0,0,0);
  opacity: 1;
}

/****** WIDGET ******/
/****** WIDGET ******/
/****** WIDGET ******/
.widget{
  box-sizing: border-box;
  display:inline-block;
  vertical-align: top;
  margin:1%;
  padding:3%;
  width:98%;
  background-image: linear-gradient($base-1, $base-2);
  border-top:1px solid $base-5;
  -webkit-box-shadow: 0 2px 1px #333333;
  border-radius:5px;
}
.widget-title{
  color: $base-5;
}
.widget ul{
  margin: 0 0 1em 1.5em;
  list-style-type: none;
}
.widget ul li a{
  color:#ffffff;
}
.widget ul li a:hover{
  color: $base-5;
  text-decoration: none;
}
.comment-author-link{
  color: $base-5;
}
li.recentcomments{ //'on'
  color:#333333;
}

/****** FOOTER ******/
/****** FOOTER ******/
/****** FOOTER ******/
.site-footer {
	height:200px;
  padding-bottom:0px;
  text-align: center;
	background-color: #333333;
}
.site-info {
	padding-top: 10px;
}
.footer{
  display:inline;
  color: $base-3;
}
i.fa-copyright, .year, .rights{
  color: $base-3;
}
.company{
  color: $base-5;
  padding:0 5px;
}


/****** POSTS PAGE ******/
/****** POSTS PAGE ******/
/****** POSTS PAGE ******/
.site-main{ //posts/post envelope
  max-width:800px;
  margin:1%;
  padding-left: 5px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0 8px 8px 0;
}
.site-main h1{ //posts/post title
  padding-left: 15px;
  color: #333333;
}
.post{ //also in single
  border-bottom:1px solid $base-3;
}
h2.entry-title a{
  color: #444444;
}
h2.entry-title a:hover{
  color: #555555;
  text-decoration: none;
}
.entry-meta{ //line for author and date
}
.posted-on{
  display:inline-block;
  width:200px;
  color: $base-2;
}
.posted-on a{
  display:block;
  padding-left:5px;
  color: $base-3;
  text-decoration: none;
}
.byline{
  display:inline-block;
  width:200px;
  color: $base-4;
}
.author a{
  display:block;
  padding-left:5px;
  color: $base-2;
  text-decoration: none;
}
.entry-content{
  margin: 0 0 0;
}
.entry-content p{
  margin-bottom:.5em;
  padding:5px;
  color: $base-2;
  font-weight:bold;
}
.cat-links{ //'posted in'
  display:none;
}
.cat-links a{
  color: $base-2;
  text-decoration: none;
}
.comments-link a{
  color: $base-1;
  text-decoration: none;
}
a.post-edit-link{
  color: $base-5
}

/****** POST/COMMENTS PAGE ******/
/****** POST/COMMENTS PAGE ******/
/****** POST/COMMENTS PAGE ******/
//.post{ IS SET IN POSTS }
//.site-main h1{ IS SET IN POSTS }
.comments-area{}
.comments-title{  //'comments on...'
  color: $base-1
}
ol.comment-list{
  list-style-type: none;
  padding: 10px;
}
.comment-author b.fn{
  color: $base-1
}
.comment-author .says{
  color: $base-2
}
.comment-metadata a{
  color: $base-3
}
.comment-metadata a:hover{
  color: $base-2;
  text-decoration: none;
}
.comment-content p{
  color: $base-1;
}
.comment-reply-link{
  color: $base-4
}
.comment-reply-link:hover{
  color: $base-1;
  text-decoration: none
}
#cancel-comment-reply-link{
  color: $base-2;
}
#cancel-comment-reply-link:hover{
  color: $base-3;
  text-decoration:none;
}

/****** FORM ******/
/****** FORM ******/
/****** FORM ******/
.comment-respond{} //includes 'add your story'
.comment-reply-title{color: $base-1} //'add your story'
.logged-in-as a{color: $base-2}
.comment-notes,
#commentform .required{
	display: none
} //removes field requirements

.comment-form{
}
.comment-form-comment{
  display:block;
}
textarea[name=comment]{
  display:block;
	border: 1px solid $base-1;
}
#comment{
  width:98%;
  margin: 0 1%;
  outline: none;
  font-size:16px;
  border-radius: 4px;
}
.comment-form-author,
.comment-form-email{
  display:block;
}
p.comment-form-author label,
p.comment-form-email label{
  color: $base-1;
  display:block;
}
input[name=author],
input[name=email]{
  width:80%;
  height:40px;
  margin-left:5px;
  font-size:16px;
  border:1px solid $base-2;
  border-radius: 4px;
}
input[name=author]:focus,
input[name=email]:focus{
  outline:none;
  border:1px solid $base-3;
  color: $base-1;
}
.button, .submit {
  background-image: linear-gradient($base-1, $base-2);
  color: #fff !important;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: .2rem;
  white-space: nowrap;
  padding: .3rem 2.5rem;
  line-height: 1.4;
  text-align: center;
  transition: .07s;
  position: relative;
  text-decoration:none !important
}

/****** MEDIA QUERY 768 ******/
/****** MEDIA QUERY 768 ******/
/****** MEDIA QUERY 768 ******/
@media (min-width: 768px) {
  .site-title-front-page a{
  	font-size:32px;
  }
  nav{
    left:50%;
    top:4%;
  }
  ul li.menu-item{
    display:inline;
  }
  h1.hero-callout{
    font-size:46px;
  }
  .about-sub{
    width:46%;
    margin: 3% 1%;
  }
  .widget{
    max-width:47%;
  }
  .site-main{ //posts/post envelope
    margin-left:10px;
  }
  .comment-form-author,
  .comment-form-email{
    display:inline-block;
    width:49%;
  }
}

/****** MEDIA QUERY 992 ******/
/****** MEDIA QUERY 992 ******/
/****** MEDIA QUERY 992 ******/
@media (min-width: 992px) {
  nav{
    left:60%;
  }
}

/****** MEDIA QUERY 1200 ******/
/****** MEDIA QUERY 1200 ******/
/****** MEDIA QUERY 1200 ******/
@media (min-width: 1200px) {
  nav{
    left:70%;
    top:6%;
  }
}
